#useDynLib(VinecopulaedasExtra, .registration = TRUE, .fixes = "C_")

import(methods)
import(copula)
import(vines)
import(copulaedas)
import(copBasic)

exportClasses(rclaytonCopula)
exportClasses(rgumbelCopula)
exportClasses(mvdv)

exportMethods(rCopula)
exportMethods(pCopula)
exportMethods(dCopula)
exportMethods(tau)
exportMethods(iTau)
exportMethods(h)
exportMethods(hinverse)

exportMethods(edaSeed)
exportMethods(edaSelect)
exportMethods(edaLearn)
exportMethods(edaSample)
exportMethods(edaReplace)
exportMethods(edaOptimize)
exportMethods(edaTerminate)
exportMethods(edaReport)
exportMethods(show)
exportMethods(summary)

exportPattern("MARGIN_.*")
exportPattern("VINE_.*")
exportPattern("COPULA_.*")
export(copula2number, number2copula)
export(rclaytonCopula, rgumbelCopula)
export(edaLearnVEDAExtra, edaSampleVEDAExtra)
exportPattern("^[fpq][a-z]")
exportPattern("^f[A-Z]")
export(selectCopula)
export(mvdv2vector, vector2mvdv, estimateMvdv, generateMvdv, dmvdv, pmvdv, rmvdv) 
